body {
  text-align: center;
  font-family: courier;
  background-image: url("../assets/image.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/*.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.cursive-font {
  font-family: 'Over the Rainbow', cursive;
}
.sans-serif-font {
  font-family: 'Pathway Gothic One', sans-serif;
}
#top {
  font-family: 'Over the Rainbow', cursive;
  color: #EF4F50;
  text-align: center;
  font-size: 3em;
}
p {
  line-height: 1em;
}
button {
  font-family: 'Over the Rainbow', cursive;
  box-shadow: 0 4px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  padding: 8px 80px 8px 80px;
  border-radius: 20px;
  color: #ffffff;
  border: none;
  background-color: #F06060;
  font-size: .4em;
}
button:hover {
  background-color: #EF4F50;
  cursor: pointer;
  box-shadow: 0 6px #ab3c3c;
  top: 2px;
}
.button:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}
#bottom {
  margin-top: 1em;
  background-color: #EF4F50;
  position: relative;
  display: none;
  margin-bottom: 3em;
  font-family: 'Over the Rainbow', cursive;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 5em;
  font-size: 2.5em;
}
.close {
  float: right;
  padding: .25em;
  background: #fff;
  font-family: serif;
  cursor: pointer;
  color: #779098;
  font-size: .5em;
  margin-top: -4em;
}
.netflix {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2em;
  letter-spacing: 5px;
  text-shadow: 5px 0 0 #000;
}
.sign-off {
  margin-top: 3em;
  font-size: 1.3em;
}
.name {
  margin-left: 50px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
*/
